@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Sora";
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;

}
body {
    margin: 0;
}
#home {
    background-color: #000;
    width: 100;
    height: 100vh;
    color: #fff; 
}

#home h1 {
    padding-top: 200px;
    font-family: "Sora";
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 40PX;
    margin-left: 80px;
}

#home h2 {
    font-size:47px;
    font-weight: 300;
    margin-left: 80px;
}

.container {
    background-color: #000;
}

.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
  
.show-menu .hamburguer {
    right: 16rem;
}
  
.line {
    width: 100%;
    height: 0.1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
}
  
.show-menu #line1{
    transform: rotate(45deg) translate(0.2rem, +.3rem);
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(0.2rem, -.5rem);
}
  
header {
    background-color: #000;
    color: #fff;
    font-family: "Sora";
    width: 100;
    height: 100vh;  
}

.banner h1 {
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 40PX;
}

.banner h2 {
    font-size:47px;
    font-weight: 300;
}
.sidebar {
    width: 19.8rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 90;
    font-size: 10px;
}

.sidebar h1 {
    color: #000;
    margin-left: 10px;
}
  
.show-menu .sidebar {
    right: 0;
}
  
.menu {
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translate(-50%, -50%);
    margin-top: 50px;   
}
.menu h1 {
    margin-bottom: 2.5rem;
}  
.menu-item {
    text-align: left;
    margin-bottom: 0.8rem;
    margin-left: 0.9rem;
    font-size: small;
}
  
.menu-link {
    color: #555;
    transition: color 1s;
}
  
.menu-link:hover {
    color: #6a3093;
}
.bannerWC {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

section {
    margin-top: 50px;
    height: 100vh;
}

.texto {
    width: 90%;
    margin: auto;
}

.texto h1 {
    margin: 40px;
    margin-top: 60px;
    font-size: xx-large;
}

.texto p {
    margin: 10px;
    margin-left: 20px;
}

.contextoSlide header {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.contextoSlide .header {
    height: 0.1px;
   
}
.contextoSlide .slider {
    flex: 1;
    overflow: hidden;
    
}

.contextoSlide .slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}

.contextoSlide .slider--item {
    background-position: center;
    background-size: cover;
    width: 94.5vw;
}

.contextoSlide .slider--controls {
    position: absolute;
    z-index: 99;
    width: 77vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 15px;
    margin-left: 10px;
    transition: all 0.4s;
    font-size: 1.7em;
    
}

.contextoSlide .slider--control {
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    z-index: 99;
}

.contextoSlide .slider--control:hover {
    transform: scale(1.5);
}

.contexto {
    display: flex;
}

.contextoSlide {
    margin-top: 15px;
    width: 78%;
    height: 90vh;
    justify-content: left;
    background-color: #fff;
}

.contextoAside {
    width: 22%;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.contextoAside h1 {
    margin-top: 80px;
    margin-left: 20px;
    font-family: "Sora";
}

.contextoAside p {
    margin: 20px;
}
header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 95vh;
}
.header {
    height: 0.1px;
   
}
.slider {
    flex: 1;
    overflow: hidden;
}

.slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}

.slider--item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
}

.slider--controls {
    position: absolute;
    z-index: 99;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px;
    margin-left: 10px;
    transition: all 0.4s;
    font-size: 1.7em;
}

.slider--control {
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    z-index: 99;
}

.slider--control:hover {
    transform: scale(1.5);
}
.subcultura {
    display: flex;
}
.subculturaSlide {
    background-color: green;
    height: 100vh;
    width: 78%;
}
.subculturaAside {
    background-color: #000;
    height: 100vh;
    width: 22%;
    color: #fff;
}

footer {
    width: 100%;
    height: 5rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

footer .integrantes {
    width: 60%;
    display: flex;
}
footer img {
    width: 40%;
}

footer li {
    list-style: none;
    margin-left: 70px;
}

  .scroll-down1 {
    position: absolute;
    right: 50%;
    bottom: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.712);
    font-size: 40px;
  }
  
  .scroll-down2 {
    position: absolute;
    right: 10%;
    bottom: -700px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.712);
    font-size: 40px;
  }
  
  .scroll-down3 {
    position: absolute;
    right: 10%;
    bottom: -40px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.712);
    font-size: 40px;
  }